.btn7 {
    background-color: #ffff00;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 176px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn8 {
    background-color: #0CB7F2;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 175px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn9 {
    background-color: #0000ff;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 176px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn7:hover { 
    background-color: #ffff39;
}

.btn8:hover { 
    background-color: #84c6ed;
}

.btn9:hover { 
    background-color: #3939ff;
}

.a, .btn7, .btn8, .btn9 {
    text-decoration: none;
}

.a, .btn7:hover, .btn8:hover, .btn9:hover {
    color: #fff;
}