.btn4 {
    background-color: #ffff00;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 180px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn5 {
    background-color: #0CB7F2;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 179px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn6 {
    background-color: #0000ff;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 7px 179px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
}

.btn4:hover { 
    background-color: #ffff39;
}

.btn5:hover { 
    background-color: #84c6ed;
}

.btn6:hover { 
    background-color: #3939ff;
}

.a, .btn4, .btn5, .btn6 {
    text-decoration: none;
}

.a, .btn4:hover, .btn5:hover, .btn6:hover {
    color: #fff;
}

.bt1 {
    color: black;
    text-decoration: none;
    border: 1.5px solid black;
    width: 50px;
    font-weight: 700;
    background-color: #e1d5e7;
    border-radius: 10px;
    padding: 7px 40px;
}

.bt1:hover {
    color: black;
}