table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 160%;
    border: 1px solid #fff;
  }
  th, td {
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }